/pollweb/pollweb/target/
/QuacktheDuck/Project/node_modules
/QuacktheDuck/Project/public/hot
/QuacktheDuck/Project/public/storage
/QuacktheDuck/Project/storage/*.key
/QuacktheDuck/Project/vendor
/QuacktheDuck/Project/.env
/QuacktheDuck/Project/.env.backup
/QuacktheDuck/Project/.phpunit.result.cache
/QuacktheDuck/Project/Homestead.json
/QuacktheDuck/Project/Homestead.yaml
/QuacktheDuck/Project/npm-debug.log
/QuacktheDuck/Project/yarn-error.log
/QuacktheDuck/Project/.htaccess
/DGDComics/node_modules
/DGDComics/public/hot
/DGDComics/public/storage
/DGDComics/storage/*.key
/DGDComics/vendor
/DGDComics/.env
/DGDComics/.env.backup
/DGDComics/.phpunit.result.cache
/DGDComics/Homestead.json
/DGDComics/Homestead.yaml
/DGDComics/npm-debug.log
/DGDComics/yarn-error.log



